<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            html,body {
                height:100%;
                width:100%;
                margin:0;
            }
            body{
                display:flex;
            }
            .content {
                        max-width: 500px;
                        margin: auto;
                        background: lightgray;
                        border
                        padding: 10px;
                        border: 3px solid Black;
                        height: 150px; 
                        padding: 30px;
                        text-align: center;
                    }
            .center {
                    display: flex;
                    justify-content: center;
                    align-items: center;    
                    padding-top: 15px;               

                    }
        </style>
    </head>
<body>
    <div class="content">
            <h6>No Token Was Found, obtain one with the button below</h6>
                <form action={{url_for('authorize')}}>
                    <div class="center">
                        <button type="submit" class="btn btn-success">AUTHORIZE</button>
                     </div>
                </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

